<launch>
	<param name="showGridWidth" value="40" />
    <param name="column" value="8" />
    <param name="row" value="8" />
    <param name="portx" value="/dev/ttyUSB0" />
    <param name="camera_id" type="int" value="0" />
    <node name="video_process" pkg="vision" type="video_process.py" />
    <node name="get_location" pkg="vision" type="get_location.py" />
    <node name="game" pkg="game" type="game" />
    <node name="show" pkg="game" type="show.py" />
    <node name="gobang_AI" pkg="gobang_ai" type="gobang_AI.py" />
</launch>
